<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.capstoneproject.society">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Society"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">

        <service
            android:name=".firebase.FirebaseService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".ui.personaluser.home.requestlist.FormRequestAcceptActivity"
            android:theme="@style/Theme.Society.NoActionBar"
            android:label="@string/title_form_request_accept"
            android:parentActivityName=".ui.personaluser.home.requestlist.DetailRequestActivity"/>
        <activity android:name=".ui.personaluser.notifications.NotificationDetailActivity"
            android:theme="@style/Theme.Society.NoActionBar"
            android:label="@string/title_detail_notif"/>
        <activity
            android:name=".ui.personaluser.home.finddonor.DetailSupplyActivity"
            android:theme="@style/Theme.Society.NoActionBar"
            android:label="@string/title_detail_supply"
            android:parentActivityName=".ui.personaluser.home.finddonor.FindDonorActivity" />
        <activity
            android:name=".ui.MainActivity"
            android:theme="@style/Theme.Society.NoActionBar" />
        <activity android:name=".ui.personaluser.profile.UpdateProfileActivity"
            android:theme="@style/Theme.Society.NoActionBar"
            android:label="@string/title_update_profile"/>
        <activity
            android:name=".ui.personaluser.home.requestlist.DetailRequestActivity"
            android:theme="@style/Theme.Society.NoActionBar"
            android:label="@string/title_detail_request"
            android:parentActivityName=".ui.personaluser.home.requestlist.RequestListActivity" />
        <activity
            android:name=".ui.personaluser.home.requestlist.RequestListActivity"
            android:theme="@style/Theme.Society.NoActionBar"
            android:label="@string/title_request_list"
            android:parentActivityName=".ui.MainActivity" />
        <activity
            android:name=".ui.personaluser.home.organizationdonor.DonorToOrganizationActivity"
            android:parentActivityName=".ui.MainActivity" />
        <activity
            android:name=".ui.personaluser.home.finddonor.FindDonorActivity"
            android:theme="@style/Theme.Society.NoActionBar"
            android:label="@string/title_findDonor"
            android:parentActivityName=".ui.MainActivity" />
        <activity
            android:name=".ui.personaluser.home.bloodbank.BloodBankActivity"
            android:parentActivityName=".ui.MainActivity" />
        <activity
            android:name=".ui.organization.ui.requestlist.DetailRequestOrgActivity"
            android:label="@string/title_detail_request"
            android:parentActivityName=".ui.organization.OrganizationActivity" />
        <activity
            android:name=".ui.organization.OrganizationActivity"
            android:label="@string/title_activity_organization"
            android:theme="@style/Theme.Society.NoActionBar" />
        <activity
            android:name=".ui.auth.register.RegisterActivity"
            android:theme="@style/Theme.Society.NoActionBar"
            android:label="@string/title_register" />
        <activity
            android:name=".ui.auth.login.LoginActivity"
            android:theme="@style/Theme.Society.NoActionBar" />
        <activity
            android:name=".ui.SplashScreenActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Society.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>